@{
    ViewData["Title"] = "Контакты";
}




<section class="py-5 border-bottom" id="services">
    <h1>@ViewData["Title"]</h1>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-collection"></i>
                </div>
                <h2 class="h4 fw-bolder">Мониторинг инфраструктуры</h2>
                <p>Отмониторим по полной программе все ваши ресурсы, оперативно создадим заявки на админов, если что-то повылетает из строя.</p>
                <a class="text-decoration-none" href="#!">
                    Оставить заявку
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-building"></i>
                </div>
                <h2 class="h4 fw-bolder">Администрирование инфраструктуры</h2>
                <p>Наша команда поможет справиться вам с этой техникой, которая вечно ломается и непонятно как работает.</p>
                <a class="text-decoration-none" href="#!">
                    Оставить заявку
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                    <i class="bi bi-toggles2"></i>
                </div>
                <h2 class="h4 fw-bolder">Поддержка рабочих мест</h2>
                <p>Закончились чернила? Комп не подключается к сети или не работает монитор? Наши специалисты оперативно устранят неисправность.</p>
                <a class="text-decoration-none" href="#!">
                    Оставить заявку
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>